
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
    <div class="container">
        <%=locals.flash.success%>
        <div class="login_box">

        </div>
        <div class="sign_line">Didn't Register? <a href="#"></a>Signup</div>
    </div>


    <script src="/js/home.js"></script>