<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&family=Dancing+Script:wght@500&family=Edu+SA+Beginner:wght@500;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/03da31a838.js" crossorigin="anonymous"></script>
    <%-style %>
</head>
<body>
    <%-body%>

    
    
    
                <%-script %>
</body>
</html>