<link rel="stylesheet" href="/css/login.css" />
<title>Home</title>
<div class="container">
  <div class="login_box">
    <h1>Get Into Your Account</h1>
    <form action="/login_employee" method="post">
      <input type="text" name="email" placeholder="Enter Registred Email" />
      <input
        type="password"
        name="password"
        placeholder="Enter Your password"
      />
      <button type="submit">Submit</button>
    </form>
    <div class="sign_line">
      donot have account? <a href="/register">register</a>
    </div>
  </div>
</div>

<script src="/js/home.js"></script>
