<link rel="stylesheet" href="/css/signup.css">
<title>Register</title>
<div class="container">
        <div class="signup_box">
            <h1>Register Yourself</h1>
            <form action="/create_employee" method="post">
            <input type="text" name="name" id="name" placeholder="Enter Your Name">
            <input type="text" name="email" id="email" placeholder="Enter your Email">
            <input type="password" name="password" id="password" placeholder="Enter your password">
            <input type="password" name="re_password" id="re_password"placeholder="Enter Your Password Again">
            <button type="submit">Submit</button>
            </form>
        </div>
        <div class="sign_line">Already have Account? <a href="/login">login</a></div>
</div>



<script src="/js/home.js"></script>